<div id="seriesIdCharactersComponent">
  <form (ngSubmit)="consultandoSeriesPorIdECharacter()">
    <div class="formCharacterIdName">
      <mat-form-field class="mat-form-field">
        <mat-label>Series ID</mat-label>
        <input required matInput [formControl]="id" />
      </mat-form-field>
      <mat-form-field class="mat-form-field">
        <mat-label>Character Name</mat-label>
        <input matInput [formControl]="characterName" />
      </mat-form-field>
      <button type="submit" mat-button>Search</button>
    </div>
  </form>
  <div
    class="serie-id-character-card-container"
    *ngIf="series; else errorMessage"
  >
    <li *ngFor="let serie of series">
      <mat-card class="serie-id-character-card">
        <mat-card-header>
          <mat-card-title>{{ serie.name }}</mat-card-title>
          <mat-card-subtitle> ID: {{ serie.id }} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img [src]="serie.thumbnail.path + '.' + serie.thumbnail.extension" />
          <p>{{ serie.description }}</p>
        </mat-card-content>
      </mat-card>
    </li>
  </div>
  <ng-template #errorMessage class="errorMessage">
    <p class="errorMessage">No series by id with characters yet</p>
  </ng-template>
</div>
