#homeComponent {

  nav {
    ul {
      display: flex;
      justify-content: space-evenly;
      background-color: #5C3D2E;
      padding: 20px;
      li {
        list-style: none;
        a {
          border-bottom: solid 1px #E0C097;
          text-decoration: none;
          color: #E0C097;
          font-size: 20px;
        }
      }
    }
  }
}
